<% content_for :title, "Organizations - " %>
<div class="row">
  <h3 class="top-heading"><i class="wr-icon wr-icon-community"></i>Organizations</h3>
  <% if @organizations.present? %>
    <div class="col-sm-12 col-offset-1">
      <% @organizations.each do |org| %>
        <p class="search-result">
          <i class="wr-icon wr-icon-md wr-icon-founder-av"></i><%= link_to org.name, organization_path(org) %>
        </p>
      <% end %>
  <% end %>
</div>
<div class="row">
  <div class="col-sm-11">
    <%= paginate @organizations %>
  </div>
</div>
