<% content_for :title, "About - " %>
<div class="text-content">
  <p class="lead">WeAreYVR is an information hub for the Vancouver startup community. It is a collaborative project &mdash; startup accelerators, the city of Vancouver, and members of the community are all helping to put each other on the map.</p>
  <p class="lead">This data is important to entrepreneurs having a place to find local companies, events, and job opportunities, investors looking to connect with startups, municipalities who want to best support their local economies, and individuals looking for a new city to welcome them.</p>
  <p class="lead">Follow us on <a href="http://twitter.com/WeAreYVR">Twitter</a> and <a href="http://facebook.com/WeAreYVR">Facebook</a> as we get ready for launch.</p>
</div>
