<% content_for :title, "About - " %>
<div class="text-content">

  <p class="lead">WeAreYVR is a community hub for tech startups in Vancouver. We are collecting and aggregating information about the People, Organizations, and wider ecosystem of the Metro Vancouver region, including Events, Jobs, and other resources. Through data, we help connect the community.</p>
  
  <h3>We're in beta!</h3>
  
  <p>We launched this site in late June 2014. More features, functionality, and content are in progress. We'll remove this note when we 'officially' launch :)</p>
  
  <h3>Get Informed and Stay Involved</h3>
  
  <p>From both local entrepreneurs as well as visitors, we heard the challenge of finding other people and organizations in the area. How to find out what other companies are in town? Where to go to see all the events of interest? For visitors and job seekers, how can they see what the vibrancy of the community is beyond a single company?</p>
  
  <p>Many founders are busy running their company and talking to customers all over the world. As a result, they told us they at times felt disconnected or out of date from what was going on in their own backyard.</p>
  
  <p>By aggregating information from many data partner organizations and showcasing recent changes, new members of the community, and other activities, people can stay up to date and feel more connected just by visiting and subscribing to the WeAreYVR website.</p>
  
  <h3>Measuring the Health of the Startup Community</h3>
  
  <p>WeAreYVR is a place to get up to date information about the goings on in the community, and a way for members to actively map and illustrate the changes within the industry.</p>
  
  <p>We are measuring the startup community in Vancouver - as much as we can of it - for all of the same reasons as businesses who use metrics and analytics do. To inform the startup economy’s growth, to clarify what is doing better or worse, and to speak with authority about what Vancouver’s startup community actually has in the way of assets.</p>
  
  <p>How many startups started last year? This year? How many health tech startups are in Vancouver? What startup jobs are available? What freelance web designers can someone talk to? These are the types of questions we want to be able to answer, and the type of reporting we plan to do.</p>
  
  <h3>Open Data, Open Source Code</h3>
  
    <p>One of the original driving factors to build WeAreYVR is that we saw people re-gathering the same information again and again, and doing it manually. Or maybe quickly putting a list of companies on a basic website or map, with the information quickly growing stale and out of date.</p>
    
    <p>We knew we wanted to make the basic, public data about Vancouver's startup people and companies available and re-usable as open data. We also want to be connected to other open sources. Our upstream data partner is <a href="http://startupgenome.com">Startup Genome</a>, a global database for startup data that we synchronize with. In turn, Startup Genome connects to Crunchbase and Angel List.</p>
  
    <p>While we're passionate about the Vancouver region, we knew this was something that every startup community needs. Want to run a site like this for your city or region? The code is called <a href="https://github.com/PixelCrafters/StartupHealthCheck">Startup HealthCheck</a>, and is open source. We welcome contributions and are happy to help you get up and running.</p>
  
  <h3>Who runs WeAreYVR?</h3>
  
  <p><a href="/users/459">Claire Atkin</a> and <a href="/users/462">Boris Mann</a> are the primary admins on this site. We are running a <a href="http://support.weareyvr.ca">support and feedback site</a> to gather bugs, feature suggestions, and to document various aspects of the project. <a href="http://support.weareyvr.ca/support/solutions/folders/1000192853" title="About WeAreYVR">Check the knowledge base</a> to find out about our data partners, sponsors, and project leaders.</p>
  
  <h3>Support This Project</h3>
  
  <p>We are looking for volunteers, sponsors and champions in the Vancouver community to join us. <a href="/contact">Contact us!</a></p>
  
  <p>We hold regular community hack nights for designers, developers, marketers and community members of all stripes to participate directly - check the <a href="http://meetups.pixelcrafters.ca">PixelCrafters meetup group</a> for the next event.</p>
  
</div>
