<% content_for :title, "Contact - " %>
<h2>Contact</h2>
<p>WeAreYVR is managed by our lead Community Coordinator, <a href="http://twitter.com/claire_atkin">Claire</a>. We&rsquo;d love to hear from you &ndash; we&rsquo;re looking for sponsors, curators, and helpers of all kinds.</p>

<script type="text/javascript" src="http://assets.freshdesk.com/widget/freshwidget.js"></script>
<style type="text/css" media="screen, projection">
	@import url(http://assets.freshdesk.com/widget/freshwidget.css); 
</style> 
<iframe class="freshwidget-embedded-form" id="freshwidget-embedded-form" src="http://weareyvr.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&formTitle=Contact&submitThanks=Thanks!+Someone+from+the+We+Are+YVR+team+will+get+back+to+you+soon!&screenshot=no" scrolling="no" height="500px" width="100%" frameborder="0" >
</iframe>
