<% content_for :title, "Events - " %>
<h2>Events</h2>
<div class="text-content">
	<p class="lead">We aggregate events using <a href="http://time.ly/">Timely</a>. The <em>events.weareyvr.ca</em> website is our curation interface, and is embedded below.</p>
</div>
<iframe src="http://events.weareyvr.ca" width="100%" height="1000px" border="0"></iframe>
