<header class="jumbotron wr-jumbotron wr-jumbotron-guide">
  <div class="container">
    <div class="wr-guide-badge">
      <div class="wr-guide-badge-marks">
        <div class="weareyvr-mark" data-height="24"></div>
        <i class="wr-icon wr-icon-guides"></i>
      </div>
      <span class="wr-guide-badge-text">A <a href="http://www.weareyvr.ca/">WeAreYVR</a> Guide</span>
    </div>
    <h1>International Jobs</h1>
  </div>
</header>

<div class="container">

    <section class="row">
      <div class="col-md-9">
        <p class="lead">There are many companies in Vancouver that are looking to hire people internationally and have them move here. All of the companies below are actively looking to hire.</p>
        <p class="lead">Are you a Vancouver company that wants more information on international hiring? Check out the rest of the <a href="/internationaljobs-hiring">International Hiring Guide</a>.</p>
        <a class="btn btn-lg" href="http://support.weareyvr.ca">Learn more</a>
      </div>
    </section>

    <section class="row lmo-now-hiring">
      <div class="col-md-12">
        <h1>Now hiring</h1>
        
        <section class="lmo-co" id="lmo-co-harp">
          <div class="row">

            <div class="col-md-3 lmo-co-logo">
              <img src="img/harp.png">
            </div>

            <div class="col-md-6 col-sm-5 lmo-co-content">
              <h2>Harp</h2>
              <p>Clover echoed winfred exiled newcomen acetose. Basted displume pinckney haywood oinochoe demurer sorokin. Fonseca abesse sapele vertex punitive peckier wigeon <a href="#">hartwell soldier reassort</a>. Agnail bardier holing coloring dawn hitchily adret alvine haunce centesis. Surgy habiri zareeba sob ecu respaced fervidor spottier. Peafowl ecumenic terry zoning bund. Belgique sercq curtsey milhaud.</p>
              <div class="lmo-co-social">
                <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                <a href="#"><i class="fa fa-linkedin-square fa-fw"></i></a>
                <a href="#"><span style="font-family: 'Zapf Dingbats', ZapfDingbats">&#9996;</span><!-- AngelList --></a>
                <!-- <a href="#"><i class="fa fa-facebook-square fa-fw"></i></a>
                <a href="#"><i class="fa fa-share fa-fw"></i></a> -->
              </div>
            </div>

            <div class="col-md-3 col-sm-4 lmo-co-stats">
              <dl>
                <div class="lmo-co-stats-section lmo-co-photos">
                  <dt>Photos</dt>
                  <dd><a href="#"><img src="http://lorempixel.com/192/192/cats/6"></a></dd>
                  <dd><a href="#"><img src="http://lorempixel.com/192/192/cats/7"></a></dd>
                  <dd><a href="#"><img src="http://lorempixel.com/192/192/cats/8"></a></dd>
                  <dd><a href="#"><img src="http://lorempixel.com/192/192/cats/9"></a></dd>
                  <dd><a href="#"><img src="http://lorempixel.com/192/192/cats/10"></a></dd>
                </div>
                <div class="lmo-co-stats-section lmo-co-categories">
                  <dt>Categories</dt>
                  <dd>Finance</dd>
                  <dd>Bitcoin</dd>
                  <dd>A/B Testing</dd>
                </div>
                <div class="lmo-co-stats-section lmo-co-founded">
                  <dt>Founded</dt>
                  <dd class="lmo-co-number">2012</dd>
                </div>
                <div class="lmo-co-stats-section lmo-co-employees">
                  <dt>Employees</dt>
                  <dd class="lmo-co-number">5</dd>
                </div>
                <div class="clearfix"></div>
              </dl>
              <a href="#" class="lmo-co-stats-section lmo-co-find-jobs">Find jobs</a>
            </div>
            
          </div>
        </section>

        <section class="lmo-co" id="lmo-co-bex">
          <div class="row">

            <div class="col-md-3 lmo-co-logo">
              <img src="img/harp.png">
            </div>

            <div class="col-md-6 col-sm-5 lmo-co-content">
              <h2>Bex.io</h2>
              <p>Clover echoed winfred exiled newcomen acetose. Basted displume pinckney haywood oinochoe demurer sorokin. Fonseca abesse sapele vertex punitive peckier wigeon <a href="#">hartwell soldier reassort</a>. Agnail bardier holing coloring dawn hitchily adret alvine haunce centesis. Surgy habiri zareeba sob ecu respaced fervidor spottier. Peafowl ecumenic terry zoning bund. Belgique sercq curtsey milhaud.</p>
              <div class="lmo-co-social">
                <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                <a href="#"><i class="fa fa-linkedin-square fa-fw"></i></a>
                <a href="#"><span style="font-family: 'Zapf Dingbats', ZapfDingbats">&#9996;</span><!-- AngelList --></a>
                <!-- <a href="#"><i class="fa fa-facebook-square fa-fw"></i></a>
                <a href="#"><i class="fa fa-share fa-fw"></i></a> -->
              </div>
            </div>

            <div class="col-md-3 col-sm-4 lmo-co-stats">
              <dl>
                <div class="lmo-co-stats-section lmo-co-photos">
                  <dt>Photos</dt>
                  <dd><a href="#"><img src="http://lorempixel.com/192/192/cats/6"></a></dd>
                  <dd><a href="#"><img src="http://lorempixel.com/192/192/cats/7"></a></dd>
                  <dd><a href="#"><img src="http://lorempixel.com/192/192/cats/8"></a></dd>
                  <dd><a href="#"><img src="http://lorempixel.com/192/192/cats/9"></a></dd>
                  <dd><a href="#"><img src="http://lorempixel.com/192/192/cats/10"></a></dd>
                </div>
                <div class="lmo-co-stats-section lmo-co-categories">
                  <dt>Categories</dt>
                  <dd>Finance</dd>
                  <dd>Bitcoin</dd>
                  <dd>A/B Testing</dd>
                </div>
                <div class="lmo-co-stats-section lmo-co-founded">
                  <dt>Founded</dt>
                  <dd class="lmo-co-number">2002</dd>
                </div>
                <div class="lmo-co-stats-section lmo-co-employees">
                  <dt>Employees</dt>
                  <dd class="lmo-co-number">500</dd>
                </div>
                <div class="clearfix"></div>
              </dl>
              <a href="#" class="lmo-co-stats-section lmo-co-find-jobs">Find jobs</a>
            </div>
            
          </div>
        </section>

      </div>
    </section>

    <section class="row">
      <div class="col-md-6">
        <h1>Why Vancouver?</h1>
        <p>This data is important to entrepreneurs having a place to find local companies, events, and job opportunities, investors looking to connect with startups, municipalities who want to best support their local economies, and individuals looking for a new city to welcome them.</p>
      </div>
      <div class="col-md-6">
        <h1>Next steps</h1>
        <p>This data is important to entrepreneurs having a place to find local companies, events, and job opportunities, investors looking to connect with startups, municipalities who want to best support their local economies, and individuals looking for a new city to welcome them.</p>
      </div>
    </section>

    <section class="row">
      <div class="col-md-6">
        <h1>Share this page</h1>
        <div class="social-share-box">
          <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <div class="social-share-box">
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-type="box_count"></div>
        </div>
        <div class="social-share-box">
          <script src="//platform.linkedin.com/in.js" type="text/javascript">
            lang: en_US
          </script>
          <script type="IN/Share" data-counter="top"></script>
        </div>
      </div>
    </section>

</div>

