<% content_for :title, "Office Space - " %>
<h2>Office Space</h2>
<div class="text-content">
	<p class="lead">Below you'll find office space available for lease in Vancouver. This is powered by <a href="http://spacelist.ca/">SpaceList</a>.</p>
</div>

<div id="spacelist-search-results" data-embed-name="vancouverweareyvr"></div>
<script type="text/javascript" src="http://spacelist.ca/embeds/embed.js"></script>