<% content_for :title, "Office Space - " %>
<h2>Office Space</h2>
<div class="text-content">
	<p class="lead">Growing companies need flexible space options to grow their business. Stay tuned on a guide to coworking, shared offices, and leasing your first commercial office space.</p>
</div>

<h3 name="spacelist">SpaceList</h3>
<p>Below you'll find commercial office space available for lease in Vancouver. This is powered by <a href="/organizations/spacelist">SpaceList</a>.</p>
<div id="spacelist-search-results" data-embed-name="vancouverweareyvr"></div>
<script type="text/javascript" src="http://spacelist.ca/embeds/embed.js"></script>

<h3 name="sharedesk">ShareDesk</h3>
<p><a href="/organizations/sharedesk">ShareDesk</a> lists coworking and shared office spaces around the world. Many of the companies listed on WeAreYVR have added a link to their ShareDesk profile which shows the office space they have available. <a href="http://www.sharedesk.net/search/list/Vancouver,%20Bc/">Visit&nbsp;ShareDesk&nbsp;directly&nbsp;to&nbsp;search&nbsp;for&nbsp;Vancouver&nbsp;Coworking&nbsp;and&nbsp;Shared&nbsp;Office&nbsp;Spaces&nbsp;»</a></p>