<div class="row">
  <div class="wr-search-bar col-sm-10 col-sm-offset-1">
    <%= form_tag search_users_path, method: "get", role: "form", class: "wr-search-bar-container" do %>
      <div class="form-group">
          <label for="search-orgs" class="sr-only">Search</label>
          <%= text_field_tag "query", "", class: "form-control wr-search-bar-field", id: "search-orgs", type: "search" %>
          <%= submit_tag "Search", class: "btn btn-primary wr-search-bar-submit-btn" %>
      </div>
      <div class="form-group pull-right">
        <%= collection_select :tags, :names, ActsAsTaggableOn::Tag.all, :name, :name, {}, {class: "form-control multiselect-tags", multiple: true, value: 'Filter by Type' } %>
      </div>
    <% end %>
  </div>
</div>
