---
http_interactions:
- request:
    method: get
    uri: http://startupgenome.co/api/organizations/city/vancouver-britishcolumbia-can
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Auth-Code:
      - 4434f477c545df93fbeee3c1c05d1ffc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"response":{"127239":{"id":"127239","name":"285 Digital Media","headline":"","description":"A software development company based in Vancouver Canada specializing in Web, Mobile, and Games.<br \/><br \/>285&#8217;s flagship product is Direct Feed - a mobile application platform for restaurants.","founded":"1267423200","size":null,"hiring_url":"","active":"1","approved":"1","slug":"285-digital-media","organization_id":"127239","url":"http:\/\/startupgenome.co\/285-digital-media","categories":[{"category_id":2,"plural_name":"Startups","singular_name":"Startup","slug":"startups"}],"latitude":"49.2763634","longitude":"-123.1186295","zip":"V6B 2E2","address1":"280 Nelson St","address2":"Vancouver B.C. Canada","state":"British Columbia","country":"Canada"},"127297":{"id":"127297","name":"2Vancouver","headline":"","description":"The website 2Vancouver.com offers reliable and accessible advice for newcomers immigrating and relocating to Vancouver, BC. ","founded":"1237093200","size":null,"hiring_url":"","active":"1","approved":"1","slug":"2vancouver","organization_id":"127297","url":"http:\/\/startupgenome.co\/2vancouver","categories":[{"category_id":2,"plural_name":"Startups","singular_name":"Startup","slug":"startups"}],"latitude":"49.26[...]
