# Application Config
Rails.application.config.application_name = "APPLICATION NAME"
Rails.application.config.location_name = "LOCATION NAME"

# Startup Genome Config
Rails.application.config.startup_genome_auth_code = "STARTUP GENOME AUTH CODE"
Rails.application.config.startup_genome_location_slug = "STARTUP GENOME SLUG"

# Auth0 Config
Rails.application.config.auth0_client_id = "AUTH0 CLIENT ID"
Rails.application.config.auth0_callback_url = "AUTH0 CALLBACK URL"
Rails.application.config.auth0_secret = "AUTH0 SECRET"
Rails.application.config.auth0_domain = "AUTH0 DOMAIN"
Rails.application.config.auth0_callback_path = "AUTH0 CALLBACK PATH"
