<% if !@user.claimed? && current_user.nil? %>
  <div class="bg-primary claim-header">
    This profile was generated via <%= link_to "Startup Genome", "http://startupgenome.com/", class: "bg-primary", target: "_blank" %>. 
    If this you? If so, claim this profile by <%= link_to "clicking here", claim_user_path(@user), class: "bg-primary", id: "link" %>.
  </div>
<% end %>
