<% if !@user.claimed? && current_user.nil? %>
  <div class="alert claim-header">
    This profile was generated via <%= link_to "Startup Genome", "http://startupgenome.com/", target: "_blank" %>. 
    Is this you?  <%= link_to "Claim this profile", claim_user_path(@user), class: "btn btn-primary" %>
  </div>
<% end %>
