<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>TAGS</h4>
      <table class="table table-striped tags-table">
        <% if @user.tags.any? %>
          <tr>
            <td>
              <div class="tag-list">
                <% @user.tags.each do |tag| %>
                  <span class="label label-primary tag pull-left">
                    <%= link_to tag.name, search_path(tags: {names: [tag.name]}) %>
                    <%= link_to '<span class="glyphicon glyphicon-remove"></span>
      '.html_safe, destroy_user_tag_path(@user.id, tag.id), method: :delete, class: "remove-tag" %>
                  </span>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
        <tr>
          <td>
            <%= render "users/tags_form" %>
          </td>
        </tr>
      </table>  
    </div>
  </div>
</div>
