<% if current_user == @user %>
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="emailPopup" aria-hidden="true" id="emailPopup">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Please enter an email address</h4>
        </div>
        <div class="modal-form">
          <%= form_for current_user, html: {role: "form"} do |f| %>
            <div class="form-group">
              <%= f.text_field :email, class: "form-control" %>
            </div>
            <%= f.submit "Submit", class: "btn btn-lg btn-primary" %>
          <% end %>
        </div>
    </div>
  </div>
<% end %>
