<div id="tags">
  <div class="tag-list">
    <% @user.tags.each do |tag| %>
      <span class="label label-primary tag pull-left">
        <%= link_to tag.name, search_path(tags: {names: [tag.name]}) %>
      </span>
    <% end %>
  </div>
</div>
