<% if @user.organizations.any? %>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="top-header">
          <span class="big-text">ORGANIZATIONS</span>
          <% if user_is_current_user? %>
            <span class="pull-right"><%= link_to "Add New Organization", new_organization_path, class: "right" %></span>
          <% end %>
        </div>
        <% @user.organizations.each do |org| %>
          <div>
            <span class="wr-icon wr-icon-startup wr-icon-xl placeholder"></span>
            <%= link_to org.name, organization_path(org) %>
              <% if user_is_current_user? %>
                <% current_user.current_roles(org).each do |role| %>
                (<%= role.name %>)
              <% end %>
            <% end %>
          </div>  
        <% end %>
      </div>
    </div>
  </div>
<% end %>
