<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div id="headline"> 
      <h1><%= ENV["LOCATION_NAME"] || Rails.application.secrets.location_name %>'s Startup Community Hub</h3>
    </div>
  </div>
</div>
