<div class="jumbotron">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <%= form_tag organizations_path, method: "get", html: {role: "form"} do %>
        <div class="form-group">
          <%= text_field_tag "query", params[:query], class: "form-control", type: "search", placeholder: "Search for Organizations", id: "home-page-search" %>
        </div>
        <%= submit_tag "Search", class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
