<div class="activity">
  <%= link_to activity.owner.name, user_path(activity.owner) %>

  added tag 

  <%= link_to tag_name(activity), tag_path(tag_name(activity)) if tag_name(activity) %>
   
  to 

  <%= link_to activity.trackable.name, activity.trackable %>
</div>
