<div class="panel panel-default">
  <div class="panel-body activity">
    <%= link_to activity.owner.name, user_url(activity.owner) %>

    removed tag 

    <%= link_to activity.parameters[:tag_name], search_url(tag: {names: [activity.parameters[:tag_name]]}) if activity.parameters[:tag_name] %>
     
    from

    <%= link_to activity.trackable.name, organization_url(activity.trackable) %>
  </div>
</div>

