<div class="panel panel-default">
  <div class="panel-body activity">  
    <%= link_to "<i class='wr-icon wr-icon-startup'></i>".html_safe + activity.trackable.name, activity.trackable, class: "entity entity-user wr-link-startup" %>
    is no longer hiring.
  </div>
</div>
