secret_key_base: SECRET KEY BASE
startup_genome_auth_code: YOUR STARTUP API GENOME AUTH CODE
auth0_domain: YOUR AUTH0 DOMAIN
auth0_client_id: YOUR AUTH0 CLIENT ID
auth0_callback_url: YOUR AUTH0 CALLBACK URL
auth0_secret: YOUR AUTH0 SECRET
