<div class="panel panel-default">
  <div class="panel-body activity">  
    <%= link_to activity.owner.name, user_path(activity.owner) %>

    claimed 

    <%= link_to activity.trackable.name, activity.trackable %>
  </div>
</div>
 
