<div class="panel panel-default">
  <div class="panel-body activity">  
    <% if activity.trackable.present? %>
      <%= link_to activity.trackable.name, activity.trackable %>

      was just created
    <% else %>
      <%= activity.parameters[:org_name] %> was just created (since removed)
    <% end %>
  </div>
</div>
 
