.jumbotron {
  text-align: center;
  background-color: #FFF !important;
}

#headline  h1 {
  font-size: 63px;
  text-align: center;
}

input#query {
  height: 50px;
  font-size: 20px;
}

.right{
  float: right;
}
