.jumbotron {
  text-align: center;
  background-color: #FFF !important;
}

#headline  h1 {
  font-size: 63px;
  text-align: center;
}

input#home-page-search {
  height: 50px;
  font-size: 20px;
}

.right{
  float: right;
}

.left{
  float: left;
}

.top-buffer { 
  margin-top:40px; 
}

.form-group-buffer{
  position: relative;
  top: 7px;
}

.auth-btns{
  padding-top: 8px;
  padding-right: 7px;
}
