.jumbotron {
  background-color: #FFF !important;
}

.top-buffer { 
  margin-top: 40px; 
}

.bottom-buffer{
  margin-bottom: 20px;
}

.form-group-buffer{
  position: relative;
  top: 7px;
}

.auth-btns{
  margin-top:14px;
}

.modal-form{
  padding: 20px;
}

.top-header{  
  margin-bottom: 15px;
}

.big-text{
  font-size: 14pt;
  font-weight: bold;
}

.bg-primary a{
  text-shadow: none;
  color: #FFF !important;
  text-decoration: underline !important;
}

.no-buffer{
  padding: 0 !important;
}

div.submit{
  text-align: center;
}

.top-heading{
  padding-top:20px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px dotted #232c2b;
}

/*** Organization Styles ***/

.alert.claim-header{
  border-color: fade-out(#10988b, 0.6) !important;
  background-color: fade-out(#10988b, 0.7) !important;
}

.small-field{
  height: 30px !important;
  width: 150px !important;
}

.claimant{
  margin-top: 50px;
}

a.edit{
  text-decoration: underline;
}

.status{
  font-size: 11pt !important;
}

#tags{
  margin-bottom: 15px;
}

a.remove-tag{
  &,
  &:link,
  &:visited {
    color: red;
    margin-right: 0.8em;
  }
}

a.remove-role-org-page{
  color: red !important;
}

.check{
  margin-left: 20px !important;
}

#label-hiring{
  margin-bottom : 15px !important;
}

.header-image{
  margin-bottom: 15px;
}

.large-icon{
  font-size: 18pt;
}

.person, .role{
  width: 225px;
  border: 1px solid #ccc;
  margin:5px;
  padding:5px;
  border-radius: 4px;
}

.person img, .role img{
  margin-right: 5px;
}

.chunk{
  margin-bottom: 20px;
}

/*** Search Styles ***/
.search-result{
  padding-bottom:20px;
  border-bottom: 1px dotted #ccc
}

.search-result a{
  background-image: none;
  vertical-align: middle !important;
  margin-top: 5px;
  margin-left: 5px;
}

/*** Footer ***/

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -40px;
  padding: 0 0 60px;
}

footer{
  height: 100px;
  box-shadow: inset 0 1px 2px rgba(146, 170, 167, 0.5);
  border-top: 1px solid #ccc;
}

/*** Activity Styles ***/

.time-ago{
  text-transform: uppercase;
  color: #777;
  font-size: 8px;
  float: right;
  // Lining numerals - doesn't work in Safari yet, sadly
  -moz-font-feature-settings: "lnum" 1;
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}

/*** User Styles ***/

span.glyphicon-user{
  font-size: 3em;
}

.user_details{
  margin-bottom: 10px;
}

.placeholder{
  padding: 30px !important;
  box-shadow: 0 1px 1px 1px rgba(146, 170, 167, 0.5);
  border-top: 1px solid #ccc;
  margin: 0 10px 10px 10px;
}
