.wr-icon {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  line-height: 0;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}
p .wr-icon {
  margin: 0 2px;
  text-indent: -2px;
}
.wr-icon-activity {
  background-image: url(/assets/wr-icon-activity.svg);
}
.wr-icon-advisor {
  background-image: url(/assets/wr-icon-advisor.svg);
}
.wr-icon-advisor-av {
  background-image: url(/assets/wr-icon-advisor-av.svg);
}
.wr-icon-angel-investor,
.wr-icon-angel {
  background-image: url(/assets/wr-icon-angel-investor.svg);
}
.wr-icon-angel-investor-av,
.wr-icon-angel-av {
  background-image: url(/assets/wr-icon-angel-investor-av.svg);
}
.wr-icon-community {
  background-image: url(/assets/wr-icon-community.svg);
}
.wr-icon-connectivity {
  background-image: url(/assets/wr-icon-connectivity.svg);
}
.wr-icon-data {
  background-image: url(/assets/wr-icon-data.svg);
}
.wr-icon-downtown {
  background-image: url(/assets/wr-icon-downtown.svg);
}
.wr-icon-eastvan {
  background-image: url(/assets/wr-icon-eastvan.svg);
}
.wr-icon-employee {
  background-image: url(/assets/wr-icon-employee.svg);
}
.wr-icon-employee-av {
  background-image: url(/assets/wr-icon-employee-av.svg);
}
.wr-icon-event,
.wr-icon-events {
  background-image: url(/assets/wr-icon-event.svg);
}
.wr-icon-federal {
  background-image: url(/assets/wr-icon-federal.svg);
}
.wr-icon-founder {
  background-image: url(/assets/wr-icon-founder.svg);
}
.wr-icon-founder-av {
  background-image: url(/assets/wr-icon-founder-av.svg);
}
.wr-icon-funding {
  background-image: url(/assets/wr-icon-funding.svg);
}
.wr-icon-gastown {
  background-image: url(/assets/wr-icon-gastown.svg);
}
.wr-icon-guide,
.wr-icon-guides {
  background-image: url(/assets/wr-icon-guides.svg);
}
.wr-icon-incubator,
.wr-icon-accelerator {
  background-image: url(/assets/wr-icon-incubator.svg);
}
.wr-icon-investor {
  background-image: url(/assets/wr-icon-investor.svg);
}
.wr-icon-investor-av {
  background-image: url(/assets/wr-icon-investor-av.svg);
}
.wr-icon-job,
.wr-icon-jobs {
  background-image: url(/assets/wr-icon-jobs.svg);
}
.wr-icon-mount-pleasant {
  background-image: url(/assets/wr-icon-mount-pleasant.svg);
}
.wr-icon-municipal {
  background-image: url(/assets/wr-icon-municipal.svg);
}
.wr-icon-newbie {
  background-image: url(/assets/wr-icon-newbie.svg);
}
.wr-icon-newbie-av {
  background-image: url(/assets/wr-icon-newbie-av.svg);
}
.wr-icon-provincial {
  background-image: url(/assets/wr-icon-provincial.svg);
}
.wr-icon-series-a {
  background-image: url(/assets/wr-icon-series-a.svg);
}
.wr-icon-series-b {
  background-image: url(/assets/wr-icon-series-b.svg);
}
.wr-icon-series-c {
  background-image: url(/assets/wr-icon-series-c.svg);
}
.wr-icon-series-d {
  background-image: url(/assets/wr-icon-series-d.svg);
}
.wr-icon-services {
  background-image: url(/assets/wr-icon-services.svg);
}
.wr-icon-startup {
  background-image: url(/assets/wr-icon-startup.svg);
}
.wr-icon-transparency {
  background-image: url(/assets/wr-icon-transparency.svg);
}
.wr-icon-vc,
.wr-icon-venture-capital {
  background-image: url(/assets/wr-icon-vc.svg);
}
.disabled .wr-icon,
.wr-icon.disabled {
  -webkit-filter: grayscale();
  filter: grayscale();
  opacity: 0.5;
}
.wr-icon-sm {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}
.wr-icon-md {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.wr-icon-lg {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
}
.wr-icon-xl {
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
}
h1 .wr-icon,
.h1 .wr-icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
}
h2 .wr-icon,
.h2 .wr-icon,
h3 .wr-icon,
.h3 .wr-icon {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
h4 .wr-icon,
.h4 .wr-icon,
h5 .wr-icon,
.h5 .wr-icon,
h6 .wr-icon,
.h6 .wr-icon {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}
h1 .wr-icon,
.h1 .wr-icon,
h2 .wr-icon,
.h2 .wr-icon,
h3 .wr-icon,
.h3 .wr-icon,
h4 .wr-icon,
.h4 .wr-icon {
  vertical-align: baseline;
  margin: 0 0.25em;
}
@media (min-width: 768px) {
  .lead .wr-icon {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    vertical-align: baseline;
  }
}
/*# sourceMappingURL=wr_icons.css.map */
