<% if not @organization.claimed? %>
  <div class="alert claim-header">
    This profile was generated via <%= link_to "Startup Genome", "http://startupgenome.com/", target: "_blank" %>. <%= link_to "Claim this profile", claim_organization_path(@organization), class: "btn btn-primary" %>
  </div>
<% end %>
