<div class="row">
  <div class="col-sm-12">
    <% if organization_admin_user? %>
      <% if current_page?(edit_organization_path(@organization)) %>
        <%= link_to '<span class="glyphicon glyphicon-remove-circle"></span>
      '.html_safe, organization_path(@organization), class: "large-icon pull-right" %>
      <% else %>
        <%= link_to '<span class="glyphicon glyphicon-edit"></span>
      '.html_safe, edit_organization_path(@organization), class: "large-icon pull-right" %>
      <% end %>
    <% end %>
  </div>
</div>
