<div class="header-image">
  <% if @organization.image.present? %>
    <%= image_tag @organization.image, height: "220" %>
  <% elsif @organization.image.present? %>
    <%= image_tag @organization.image, height: "220", class: "pull-left" %>
  <% else %>
    <span class="glyphicon glyphicon-user"></span>
  <% end %>
</div>
