<div class="row">
  <div class="col-sm-12">
    <div id="profile-header">
      <h3><%= @organization.name %></h3>
      <h5><%= @organization.headline %></h5>
      <span>status: <%= status %></span>
      <span class="right"><%= @organization.url %></span>
    </div>
  </div>
</div>
