  <div class="col-sm-8">
    <div id="people">
      <% @organization.users.each do |user| %>
        <%= image_tag user.image %>
        <%= link_to user.name, user_path(user) %>
        <% if user.is_admin?(@organization) %>
          (Admin) 
        <% end %>
      <% end %>
    </div>
  </div>
