
<ul class="list-unstyled">
  <li>
    <span><%= link_to "Startup Genome", @organization.url if @organization.url.present? %></span>
  </li>
  <% @organization.profile_links.each do |profile_link| %> 
    <li>
      <%= link_to profile_link.name, profile_link.url %>
    </li>
  <% end %>
</ul>

