<div class="row">
  <div class="col-sm-12">
    <div id="tags">
      <div class="tag-list">
        <% @organization.types.each do |type| %>
          <span class="label label-primary tag">
            <%= type.name %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
