<div class="row">
  <div class="col-sm-12">
    <div id="tags">
      <div class="tag-list">
        <% @organization.tags.each do |tag| %>
          <span class="label label-primary tag">
            <%= link_to tag.name, tag_path(tag.name) %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
