<div class="row">
  <h2><i class="wr-icon wr-icon-community"></i>Organizations</h2>
  <% if @organizations.present? %>
    <div id="organizations">
      <% @organizations.each do |org| %>
        <p class="search-result">
          <%= link_to org.name, organization_path(org) %>
        </p>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-11">
      <%= paginate @organizations %>
    </div>
  </div>
</div>
