
<div>
  <% if @organization.claimed? %>
      This profile was claimed by: <%= link_to @organization.users.first.name, user_path(@organization.users.first.name) %>
  <% else %>
    <%= link_to "claim", claim_organization_path(@organization) %>
  <% end %>
</div>

<%= render "organizations/profile_header" %>

<%= render "organizations/profile_description" %>
