<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %>!</h1>
    <h3>Welcome to your weekly email digest, compliments of WeAreYVR.</h3>
    <h3 style="text-decoration: underline;">Activity Feed</h3>
    <%= render_activities(@activities) %>
    <br />
    <%= link_to "See All", activities_url %>
    <br />
    <p>To unsubscribe from this email digest, <%= link_to 'click here', unsubscribe_url(@user.access_token) %>. 
  </body>
</html>
