---
http_interactions:
- request:
    method: post
    uri: https://jncoops.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"N8s02JgamO99vbx7FOsyS6rJN8nbJMIl","client_secret":"gXwlUlAm-pR-KLEQ8jI3yxFnU3J6sFuzJxDzfIZg3GEJfsCO-rZ4cKe2sYDqiZrM","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"DO9VCvJHRa8UwoGdnotrpwOomdduCCf7TfM0TmK83Eb6hqCKKe55yr8K3a0DiYhY","token_type":"bearer"}'
  recorded_at: Thu, 15 May 2014 16:12:58 GMT
- request:
    method: post
    uri: https://jncoops.auth0.com/api/users/send_verification_email
    body:
      encoding: UTF-8
      string: '{"email":"twitteruser@example.com","connection":"twitter"}'
    headers:
      Authorization:
      - Bearer DO9VCvJHRa8UwoGdnotrpwOomdduCCf7TfM0TmK83Eb6hqCKKe55yr8K3a0DiYhY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Thu, 15 May 2014 16:12:59 GMT
- request:
    method: put
    uri: https://jncoops.auth0.com/api/users/twitter%7C12345/email
    body:
      encoding: UTF-8
      string: '{"email":"twitteruser@example.com","verify":true}'
    headers:
      Authorization:
      - Bearer DO9VCvJHRa8UwoGdnotrpwOomdduCCf7TfM0TmK83Eb6hqCKKe55yr8K3a0DiYhY
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="Users", error="invalid_token"
      - Missing authentication tokens
    body:
      encoding: UTF-8
      string: Unauthorized
  recorded_at: Thu, 22 May 2014 18:32:27 GMT
recorded_with: VCR 2.9.0
