---
http_interactions:
- request:
    method: post
    uri: https://jncoops.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"N8s02JgamO99vbx7FOsyS6rJN8nbJMIl","client_secret":"gXwlUlAm-pR-KLEQ8jI3yxFnU3J6sFuzJxDzfIZg3GEJfsCO-rZ4cKe2sYDqiZrM","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"6PUnEi2Xbvknwsb1YIur143NGtd2fvxZmCHpDbJTwySGxcEsPcVcrqIaMKTXxIBp","token_type":"bearer"}'
  recorded_at: Thu, 22 May 2014 23:36:54 GMT
- request:
    method: put
    uri: https://jncoops.auth0.com/api/users/twitter%7C2516461339/email
    body:
      encoding: UTF-8
      string: '{"email":"jncoops7@live.com","verify":true}'
    headers:
      Authorization:
      - Bearer 6PUnEi2Xbvknwsb1YIur143NGtd2fvxZmCHpDbJTwySGxcEsPcVcrqIaMKTXxIBp
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Thu, 22 May 2014 23:36:54 GMT
[...]
- request:
    method: put
    uri: https://jncoops.auth0.com/api/users/email
    body:
      encoding: UTF-8
      string: '{"email":"jncoops7@live.com","verify":true}'
    headers:
      Authorization:
      - Bearer nFKXxd0bJN4oxJvKD6bzFXMyyXPcRSvWTgtgwlPCwao5ayHm9qgBM7UULknTDfIB
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '"wrong attributes"'
  recorded_at: Fri, 23 May 2014 00:00:22 GMT
- request:
    method: put
    uri: https://jncoops.auth0.com/api/users/twitter%7C12345/email
    body:
      encoding: UTF-8
      string: '{"email":"jncoops7@live.com","verify":true}'
    headers:
      Authorization:
      - Bearer 6PUnEi2Xbvknwsb1YIur143NGtd2fvxZmCHpDbJTwySGxcEsPcVcrqIaMKTXxIBp
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="Users", error="invalid_token"
      - Missing authentication tokens
    body:
      encoding: UTF-8
      string: Unauthorized
  recorded_at: Tue, 27 May 2014 18:22:57 GMT
recorded_with: VCR 2.9.0
