---
http_interactions:
- request:
    method: post
    uri: https://jncoops.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"N8s02JgamO99vbx7FOsyS6rJN8nbJMIl","client_secret":"gXwlUlAm-pR-KLEQ8jI3yxFnU3J6sFuzJxDzfIZg3GEJfsCO-rZ4cKe2sYDqiZrM","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"1VsOgRTZhdO8BDfkaqYiv7pPFJvA3XNDbjVsUFMH3S53J8ZV2QL0M94jKzK0Aes8","token_type":"bearer"}'
  recorded_at: Tue, 27 May 2014 23:13:33 GMT
- request:
    method: put
    uri: https://jncoops.auth0.com/api/users/twitter%7C2516461339/email
    body:
      encoding: UTF-8
      string: '{"email":"jncoops7@live.com","verify":true}'
    headers:
      Authorization:
      - Bearer 1VsOgRTZhdO8BDfkaqYiv7pPFJvA3XNDbjVsUFMH3S53J8ZV2QL0M94jKzK0Aes8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Tue, 27 May 2014 23:13:33 GMT
recorded_with: VCR 2.9.0
