---
http_interactions:
- request:
    method: post
    uri: https://jncoops.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"N8s02JgamO99vbx7FOsyS6rJN8nbJMIl","client_secret":"gXwlUlAm-pR-KLEQ8jI3yxFnU3J6sFuzJxDzfIZg3GEJfsCO-rZ4cKe2sYDqiZrM","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"vNK2LHE1U8PVKB6KdxjgACRz2YJeYwbAp8ZgOmciqYFbrRLC8TNgUdTrjciwfi2d","token_type":"bearer"}'
  recorded_at: Wed, 14 May 2014 21:52:28 GMT
- request:
    method: post
    uri: https://jncoops.auth0.com/api/users/send_verification_email
    body:
      encoding: UTF-8
      string: '{"email":"twitteruser@example.com","connection":"twitter"}'
    headers:
      Authorization:
      - Bearer vNK2LHE1U8PVKB6KdxjgACRz2YJeYwbAp8ZgOmciqYFbrRLC8TNgUdTrjciwfi2d
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Wed, 14 May 2014 21:52:29 GMT
recorded_with: VCR 2.9.0
